div#product {
    text-align: center;
    border: solid 3pt black;
    border-right: solid 5pt black;
    outline: 3pt solid white;
    margin-bottom: 5px;
}

form#check {
    text-align: left;
}

/*Desktop*/
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
}

select#action {
    width: 15%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 600px) {

    /*Phones*/
    [class*="col-"] {
        width: 100%;
    }

    select#action {
        width: 100%;
    }

    div#header {
        text-align: center;
    }
}
