.typeDiv {}

.error {
    color: red;
    margin-left: 10px;
}

/*Desktop*/
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 600px) {

    /*Phones*/
    [class*="col-"] {
        width: 100%;
    }

    div#top {
        text-align: center;
    }

    label {
        text-align: center;
    }

    .error {
        text-align: center;
    }

    .info {
        text-align: center;
    }

    select {
        width: 100%;
    }
}
