* {
    box-sizing: border-box;
}

body {
    font-family: Comic Sans MS;
    padding: 20pt;
}

button:hover {
    border-color: limegreen;
    box-shadow: 3px 3px 1px -1px limegreen;
}

button {
    background: transparent;
    box-shadow: 3px 3px 1px -1px black;
    font-family: Georgia;
}

select:hover {
    border-color: limegreen;
}

hr {
    height: 2pt;
    background-color: black
}

[class*="col-"] {
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (min-width: 600px) and (max-width: 978px) {
    .top {
        text-align: center;
        font-size: 11pt;
    }

    .button {
        width: 33%;
        height: 7%;
    }

    select#action {
        width: 33%;
    }
}
